html{
	background-color: #f09314;
	margin-left: 10%;
	margin-right: 10%;
	border: 8px dotted black;
	padding: 10px 10px 10px 10px;
	font-size:150%;
	font-family: Times New Roman, "Helvetica Neue", Helvetica, sans-serif;
	}
img{
	
	width: auto;
	height: auto;
	max-width: 250px;
	}
a{
	color: #98ff98;
	}
a:visited {
	color: yellow;
	}
header{
	color:blue;
	display: inline-block;
	padding: 0px 20px 20px 20px; 
	border: 2px solid black;
	margin-bottom: 10px;	
	}
div#header-title{
	text-align:center;
	margin-left: 150px;
	width: 55%;		
	}
.header-pics{

	width: 35%;
	padding-top: 10px;
	}
div#header-pic1{
		height:300px;
	float:left;
	width: 45%;
}
div#header-pic2{
	height:500px;
	width: 45%;
	float:right;
	display: block;
	height: auto;
	max-width:100%;


	padding: 10px;
	}
div#header-pic1{
	display: block;
	height: auto;
	max-width:100%;
	max-height:100%;
	
	padding: 10px;
	}

div.desc{
	padding: 0px 20px 20px 20px;

	width: 92%;
	clear: right;
	border: 2px solid black;		
	}
div.dates{
	padding: 0px 20px 20px 20px;
	margin-top:10px;
	width: 92%;
	border: 2px solid black;	
	
	}
div.date{
	display: block;
	height: auto;
	max-width:100%;
	max-height:100%;
	margin: auto;
	font-size:200%;	
	}
div.dateLeft{
	display: block;
	height: auto;
	max-width:100%;
	max-height:100%;

	width: 50%;
	}
div.dateRight{
	display: block;
	height: auto;
	max-width:100%;
	max-height:100%;
	
	width: 45%;
	}
div.tour{
	
	clear: left;
	padding: 0px 20px 20px 40px;
	margin-top: 20px;
	
	width: 92%;
	border: 2px solid black;	
	}
	div.summary{
	border: 2px solid black;
	padding-top: 10px;
		width: 95%;
			padding-left: 20px;
	}
div.services{
	padding: 0px 20px 20px 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid black;
	clear: right;
		width: 92%;
	}
div.rightside{


	
	width:100%;
	margin-top: 20px;
	clear: right;
	
	}
	div.container{
	font-size:200%
	}
	div.container select{
	 width: 100%;
	 height: 110px;
	 font-size: 100%;
	 color:navy;
	 
	 }
	 div.container input{
	  width: 100%;
	 height: 110px;
	 font-size: 100%;
	 color:navy;
	 }
	 
	 
.reviewarea{
	padding: 0px 20px 20px 20px;
	display: inline-block;
	border: 2px solid black;
	margin: auto;
	margin-bottom: 10px;
	}
div#reviews{
	display: block;
	float: left;
	}
}
div.review{
	float: left;
	width: 50%;
	clear: left;
	}
div.response{
    float: right;
    width: 40%;
     padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 305px;
    clear: right;
	}
div.newreview{
	display: block;
	float: left;
	margin: auto;
	}
div#inputtype1{
	display: none;	
	}
div#inputtype2{
	display: none;	
	}
div#deletedcomments{
	padding: 20px 20px 20px 20px;
	display: none;
	border: 2px solid black;
	margin: auto;
	margin-bottom: 10px;
	}

#map{
	height: 200px;
	width: 300px;

	}
footer{
	text-align: center;
	padding: 15px;
	border: 2px solid black;
	margin-top: 20px;
	clear: left;
	font-size:120%;
	color:red;
	}