html{
	background-color: #98ff98;
	margin-left: 10%;
	margin-right: 10%;
	border: 8px dotted black;
	padding: 10px 10px 10px 10px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size:150%;
	}
img{
	height: auto;
	width: auto;
	max-width: 500px;
	}
a{
	color: orangered;
	}
a:visited {
	color: #98ff98;
	}
header{
	background-color: #f09314;
	display: inline-block;
	padding: 0px 20px 20px 20px; 
	border: 2px solid black;
	margin-bottom: 10px;	
	}
div#header-title{
	float: left;
	width: 40%;		
	}
.header-pics{
	float: right;
	width: 60%;
	padding-top: 10px;
	}
div#header-pic2{
	display: block;
	height: auto;
	max-width:100%;
	max-height:100%;
	float: right;
	padding: 10px;
	}
div#header-pic1{
	display: block;
	height: auto;
	max-width:100%;
	max-height:100%;
	float: left;
	padding: 10px;
	}
div.desc{
	background-color: white;
	padding: 0px 20px 20px 20px;
	margin-bottom: 10px;
	float: right;
	width: 60%;
	clear: right;
	border: 2px solid black;		
	}
div.dates{
	background-color: white;
	margin-bottom: 10px;
	padding: 0px 20px 20px 20px;
	float: left;
	width: 30%;
	border: 2px solid black;		
	}
div.date{
	display: block;
	height: auto;
	max-width:100%;
	max-height:100%;
	margin: auto;
	}
div.dateLeft{
	display: block;
	height: auto;
	max-width:100%;
	max-height:100%;
	float: left;
	width: 50%;
	}
div.dateRight{
	display: block;
	height: auto;
	max-width:100%;
	max-height:100%;
	float: right;
	width: 45%;
	}
div.tour{
	background-color: white;
	float: left;
	clear: left;
	padding: 0px 20px 20px 20px;
	width: 60%;
	margin-bottom: 10px;
	border: 2px solid black;
	}
div.services{
	background-color: white;
	padding: 0px 20px 20px 20px;
	margin-top: 10px;
	border: 2px solid black;
	clear: right;
	}
div.rightside{
	float: right;
	width: 30%;
	}
div.summary{
	background-color: white;
	padding: 0px 20px 20px 20px;
	margin-bottom: 10px;
	clear: right;
	border: 2px solid black;
	}
.reviewarea{
	background-color: white;
	padding: 0px 20px 20px 20px;
	display: inline-block;
	border: 2px solid black;
	margin: auto;
	margin-bottom: 10px;
	}
div#reviews{
	display: block;
	float: left;
	}
}
div.review{
	display: block;
	float: left;
	width: 50%;
	clear: left;
	}
div.response{
	display: block;
	float: right;
	width: 40%;
	padding-top: 100px;
	clear: right;
	}
div.newreview{
	display: block;
	float: left;
	margin: auto;
	}
div#inputtype1{
	display: none;	
	}
div#inputtype2{
	display: none;	
	}
div#deletedcomments{
	padding: 20px 20px 20px 20px;
	display: none;
	border: 2px solid black;
	margin: auto;
	margin-bottom: 10px;
	}
#map{
	height: 200px;
	width: 300px;
	}
footer{
	background-color: #f09314;
	text-align: center;
	padding: 15px;
	border: 2px solid black;
	margin: auto;
	clear: left;
	}